main {
  box-sizing: border-box;
  padding: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-grow: 1;
  height: 100vh;
}

.game-history {
  width: 40vw;
  display: flex;
  flex-grow: 1;
  font-family: Monospace;
  font-size: 15px;
  line-height: 22px;
}

.game-status {
  width: 60vw;
  display: flex;
  flex-grow: 2;
  font-family: Monospace;
  font-size: 14px;
  line-height: 22px;
}

.command-line {
  height: 30px;
  font-family: Monospace;
  font-size: 15px;
  margin-top: 20px;
  padding: 10px;
  border: 2px solid #666;
}

.flex-container {
  display: flex;
  justify-content: center;
  flex-grow: 1;
}

.flex-container-col {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-grow: 1;
}

.tile {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  width: 60px;
  height: 60px;
  border: 1px solid #333;
}

.tile-index-container {
  visibility: hidden;
  width: 30px;
  height: 30px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000;
}

.tile:hover .tile-index-container {
  visibility: visible;
}

.tile-index {
  font-family: Monospace;
  font-size: 20px;
  color: #fff;
}

.start {
  background-color: #bbbbbb;
}

.finish {
  background-color: #555555;
}

.ground {
  background-color: #a3842f;
}

.water {
  background-color: #42d3ff;
}

.token {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  border: 1px solid #555;
  color: #fff;
  font-family: Monospace;
  font-weight: bold;
  font-size: 14px;
}

.blue {
  background-color: #0c67f0;
}

.red {
  background-color: #ff001e;
}

.green {
  background-color: #00e339;
}

.yellow {
  background-color: #f5f549;
}

.sleep {
  filter: brightness(50%);
}
